@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .ios-fix {
    background-attachment: scroll !important;
  }
}

/* פס עליון קופץ למעלה ממש */
.scrolled-mobile .navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 55px; /* גובה ממש קטן, רק לפס דק במובייל */
  overflow: hidden;
}

.scrolled-mobile .navbar-logo {
  transform: translateX(100px);
   /* בינתיים נשאיר רק צדדים */
}

.scrolled-mobile .navbar-links {
  transform: translateX(-150px);
  transform: translateX(-55px) translateY(-84px); /* לא ניגע בגובה עדיין */
}

.scrolled-mobile .navbar-motto {
  transform: translateY(10px);
  opacity: 0;
}

.navbar,
.navbar-logo,
.navbar-links,
.navbar-motto {
  transition: transform 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
  will-change: transform, opacity, padding;
}
