@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .ios-fix {
    background-attachment: scroll !important;
  }
}

.scrolled-mobile .navbar-logo {
  transform: translateX(-40px);
}

.scrolled-mobile .navbar-links {
  transform: translateX(40px);
}

.scrolled-mobile .navbar-motto {
  opacity: 0;
}

.navbar-logo,
.navbar-links,
.navbar-motto {
  transition: transform 0.4s ease, opacity 0.4s ease;
}
